- name: Install httpd
  yum:
    name: httpd
    state: present

- name: Start httpd
  service:
    name: httpd
    state: started
    enabled: true

- name: Deploy backend page
  template:
    src: backend_index.html.j2
    dest: /var/www/html/index.html
