upstream backend_servers {
    server {{ hostvars[groups['backends'][0]].ansible_default_ipv4.address }};
    server {{ hostvars[groups['backends'][1]].ansible_default_ipv4.address }};
    server {{ hostvars[groups['backends'][2]].ansible_default_ipv4.address }} backup;
}

server {
    listen 80;
    location / {
        proxy_pass http://backend_servers;
    }
}
